/* app/globals.css */

body {
  /* background-image: url('/images/psihoterapija.webp'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Остаје фиксирано приликом скроловања */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes scaleUp {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}

.animate-scaleUp {
  animation: scaleUp 5.8s ease forwards;
} */

.container-image{
  animation: fadeUp both;
  animation-timeline: view();
}
 @keyframes fadeUp {
  from{
    opacity: 0;
    transform: translateY(10px) scale(0.10);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
 }


 .galleryItem {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 19 / 9;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid #a5b1c2;
  cursor: pointer;

  /* centrira i smanjuje ram */
  width: 60%;      
  margin: 20px auto; 
}

.galleryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

/* Strafta samo pri dnu */
.caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s ease, backdrop-filter 0.5s ease;
  
  /* dodatni efekti */
  backdrop-filter: blur(4px);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* Hover i fokus */
.galleryItem:hover .caption,
.galleryItem:focus-within .caption {
  transform: translateY(0);
}

/* Slika se smanji na hover */
.galleryItem:hover .galleryImg,
.galleryItem:focus-within .galleryImg {
  transform: scale(0.95);
}
